.dropdown__search{
    width: 320px;
    background-color: var(--color-white-00);
    box-shadow: 0px 2px 2.1px var(--color-white-05);
    @include border-radius(big);
    padding-bottom: 10px;

    &__title {
        display: flex;
        align-items: center;
        font-size: 17px;
        color: var(--color--black-10);
        padding-left: 10px;
    }

    &__user__content {
        @include display-direction-justify-align(flex, row, space-between, center);
        @include border-radius(big);
        @include hover();
        overflow: hidden;
        cursor: pointer;
        height: 50px;
        margin: 0 10px;
        padding: 0 10px;
        
        &__delete svg {   
            font-size: 18px ;
            color: var(--color-grey--00);
        }
        &__profile {
            @include display-direction-justify-align(flex, row, unset, center);
        
            span {
                @include svg(36px, unset);
                margin-right: 10px;
            }
            div {
                font-size: 15px;
            }
        }
    }
}