:root {
    --fds-blue-05: #ecf3ff;
    --fds-blue-30: #aac9ff;
    --fds-blue-40: #77a7ff;
    --fds-blue-60: #1877f2; // PRIMARY
    --fds-blue-70: #2851a3;
    --fds-blue-80: #1d3c78;

    --fds-green-55: #42b72a;

    // TODO Change le nom de ces variables
    --secondaryLight: #f0f2f5;
    --secondaryLightest: #ffffff;
}
