.tooltip-profile {
    @include border-radius(big);
    background-color: var(--color-white-00);
    border:  1px solid var(--color-divider);
    box-shadow: 0 12px 28px 0 var(--color-white-05),0 2px 4px 0 var(--color-white-05),inset 0 0 0 1px var(--color-white-00);
    font-size: 15px;
    padding: 8px;
    width: 320px;
    z-index: 99;

    &__content {
        @include display-direction-justify-align(vrcenter);
        @include border-radius(small);
        @include hover();
        overflow: hidden;
        padding: 8px;

        svg {
          font-size: 1.4rem;
          margin-right: 10px;
       }
    }
}
